body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: rgb(231, 221, 221); 
   
    padding: 100px;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(1,1,1, 0.1);
    width: 300px;
    background-image: url("images/download.jpg");
}

label, input, select, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
input, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background: #d6ddd6;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
button:hover {
    background: #218838;
}
.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.image-container img {
    width: 50%;
    border-radius: 8px;
}